demo-workflow.json
{
  "name": "OKRunit Demo — All Operations",
  "nodes": [
    {
      "parameters": {},
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Run Demo",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "authentication": "apiKey",
        "resource": "approval",
        "operation": "create",
        "title": "Deploy v2.1 to production",
        "priority": "high",
        "additionalFields": {
          "actionType": "deploy",
          "description": "Release includes new payment gateway integration. Requires sign-off from engineering lead before proceeding.",
          "requiredApprovals": 1,
          "metadata": "{\"environment\": \"production\", \"version\": \"2.1.0\", \"triggered_by\": \"n8n\"}"
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000002",
      "name": "Create Approval",
      "type": "n8n-nodes-okrunit.oKRunit",
      "typeVersion": 1,
      "position": [300, 0],
      "credentials": {
        "okrunitApi": {
          "id": "",
          "name": "OKRunit API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "apiKey",
        "resource": "approval",
        "operation": "get",
        "approvalId": "={{ $json.id }}"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000003",
      "name": "Get Approval",
      "type": "n8n-nodes-okrunit.oKRunit",
      "typeVersion": 1,
      "position": [600, 0],
      "credentials": {
        "okrunitApi": {
          "id": "",
          "name": "OKRunit API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "apiKey",
        "resource": "comment",
        "operation": "create",
        "approvalId": "={{ $('Create Approval').item.json.id }}",
        "body": "Checked staging environment — all tests passing. Looks good to deploy."
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000004",
      "name": "Add Comment",
      "type": "n8n-nodes-okrunit.oKRunit",
      "typeVersion": 1,
      "position": [900, 0],
      "credentials": {
        "okrunitApi": {
          "id": "",
          "name": "OKRunit API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "apiKey",
        "resource": "comment",
        "operation": "getAll",
        "approvalId": "={{ $('Create Approval').item.json.id }}",
        "returnAll": true
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000005",
      "name": "List Comments",
      "type": "n8n-nodes-okrunit.oKRunit",
      "typeVersion": 1,
      "position": [1200, 0],
      "credentials": {
        "okrunitApi": {
          "id": "",
          "name": "OKRunit API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "apiKey",
        "resource": "approval",
        "operation": "getAll",
        "returnAll": false,
        "limit": 10,
        "filters": {
          "status": "pending",
          "priority": "high"
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000006",
      "name": "List Approvals (Filtered)",
      "type": "n8n-nodes-okrunit.oKRunit",
      "typeVersion": 1,
      "position": [1500, 0],
      "credentials": {
        "okrunitApi": {
          "id": "",
          "name": "OKRunit API"
        }
      }
    }
  ],
  "connections": {
    "Run Demo": {
      "main": [
        [
          {
            "node": "Create Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Approval": {
      "main": [
        [
          {
            "node": "Get Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Approval": {
      "main": [
        [
          {
            "node": "Add Comment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Comment": {
      "main": [
        [
          {
            "node": "List Comments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Comments": {
      "main": [
        [
          {
            "node": "List Approvals (Filtered)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0
}
